
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>VISIONTECH</title>
<link rel="stylesheet" href="adminD/css/do_layout.css">
<!-- radio,check -->
<link href="adminD/css/_all.css" rel="stylesheet">
<script src="adminD/js/jquery.js"></script>
<script src="adminD/js/icheck.js"></script>
<!--달력-->
<link rel="stylesheet" type="text/css"
	href="adminD/css/jquery.datetimepicker.css" />
<!-- 메뉴 -->
<link rel="stylesheet" href="adminD/dist/css/superfish.css"
	media="screen">
<!-- <script src="dist/js/jquery.js"></script> -->
<script src="adminD/dist/js/superclick.js"></script>
<script>
	(function($) { //create closure so we can safely use $ as alias for jQuery

		$(document).ready(function() {

			// initialise plugin
			var example = $('#example').superclick({
			//add options here if required
			});

			// buttons to demonstrate Superclick's public methods
			$('.destroy').on('click', function() {
				example.superclick('destroy');
				return false;
			});

			$('.init').on('click', function() {
				example.superclick();
				return false;
			});

			$('.open').on('click', function() {
				example.children('li:first').superclick('show');
				return false;
			});

			$('.close').on('click', function() {
				example.children('li:first').superclick('hide');
				return false;
			});

			$('.closeall').on('click', function() {
				example.superclick('reset');
				return false;
			});
		});

	})(jQuery);
</script>

</head>
<body>
	<div class="do_wrap">
		<div class="do_top">
			<div class="top_text">
				<span>VISIONTECH 관리자 시스템</span>|&nbsp;&nbsp;
				안녕하세요? 오늘도 좋은 하루 되세요.
			</div>
			<div class="time">
				<img src="adminD/images/top_time.png">
			</div>
			<div class="logout" onclick="mvSession()">
				<img src="adminD/images/img_top_03.png">logout
			</div>
		</div>
		<div class="do_content">
			<div class="do_nav h1071">
				<ul class="sf-menu" id="example">
					<li><a href="adminList.ad?type=51">공지사항관리</a></li>
					<li><a href="adminList.ad?type=52">온라인문의</a></li>
					<li><a href="adminList.ad?type=53">관련자료</a></li>
					<li><a href="adminList.ad?type=54">주문의뢰서</a></li>
					<li><a href="adminList.md?type=21">카탈로그관리</a></li>
					<li><a href="adminList.md?type=22">동영상관리</a></li>
					<li><a href="management.jsp">관리자관리</a></li>
				</ul>
			</div>
			<div class="right_box">
				<div class="manage_box h1000">
					<h2>게시물 상세보기</h2>
					<table>
						<thead>
							<tr>
								<th >번호</th>
								<th colspan='3'>제목</th>
								<th >등록일</th>
								<th colspan='1'>2017-09-14</th>
							</tr>
						</thead>
						<tbody>
						<tr>
							<td >작성자</td>
							<td colspan='3'>이수용</td>
							<td >연락처</td>
							<td colspan='2'>010123445678</td> 
							
						</tr>
						<tr>
							<td>회사명</td>
							<td colspan="3">디오스토리</td>
							<td>이메일</td>
							<td >123@12.com</td>
						</tr>
						<tr>
							<td>현재상태</td>
							<td colspan="3">신청</td>
							<td>상태변경</td>
							<td ><select name="status" id="status">
								<option value="0">신청</option>
								<option value="1">대기중</option>
								<option value="2">처리중</option>
								<option value="3">처리완료</option>
							</select></td>
						</tr>
						<tr align="center">
							<td colspan="6" style='height:200px'>가나다라마바사</td>
						</tr>
						<tr>
							<td>특이사항</td>
							<td colspan="5"><textarea style="width: 800px; height: 150px;" name="memo" id="memo">메모사항</textarea></td>
						</tr>
						
					</tbody>
					</table>				
					<div class="f_right">
						<button class="b_consult" class="pull-right" onclick="submitFuntion('<%=orderbean.getOrder_id()%>')">저장</button>
						<button>
							<a href="javascript:history.back();" class="b_g">취소</a>
						</button>
					</div>
					<div class='footer'>
			<div class='footer_inner'>
				<img src='logo_vision-tech2.png' alt='로고' />
				<p>
					Copyright By 비전테크놀로지. All Rights Reserved.<br />본사이트의 컨텐츠는 저작권법의
					보호를 받는 바 무단 전재, 복사, 배포를 금합니다. 개인정보취급방침
				</p>
			</div>
		</div>
				</div>
				<script>
					function submitFuntion(num) {
						var status  = $("#status").val();
						var memo = $("#memo").val();
						location.href = "./change.ad?status="+status+"&meme="+memo+"&num="+num;
					}
				</script>
				<jsp:include page="adminfooter.jsp"></jsp:include>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('.login input').iCheck({
				checkboxClass : 'icheckbox_square-top',
				// radioClass: 'iradio_square-green',
				increaseArea : '20%'
			});
		});
	</script>
	<!-- 달력 -->
	<!-- <script src="js/jqueryC.js"></script> -->
	<script src="adminD/build/jquery.datetimepicker.full.js"></script>
	<script>
		/*
		window.onerror = function(errorMsg) {
		$('#console').html($('#console').html()+'<br>'+errorMsg)
		}*/

		$.datetimepicker.setLocale('en');

		$('#datetimepicker_format').datetimepicker({
			value : '2015/04/15 05:03',
			format : $("#datetimepicker_format_value").val()
		});
		$("#datetimepicker_format_change").on(
				"click",
				function(e) {
					$("#datetimepicker_format").data('xdsoft_datetimepicker')
							.setOptions(
									{
										format : $(
												"#datetimepicker_format_value")
												.val()
									});
				});
		$("#datetimepicker_format_locale").on("change", function(e) {
			$.datetimepicker.setLocale($(e.currentTarget).val());
		});

		$('#datetimepicker').datetimepicker({
			dayOfWeekStart : 1,
			lang : 'en',
			disabledDates : [ '1986/01/08', '1986/01/09', '1986/01/10' ],
			startDate : '1986/01/05'
		});
		$('#datetimepicker').datetimepicker({
			value : '2015/04/15 05:03',
			step : 10
		});

		$('.some_class').datetimepicker();

		$('#default_datetimepicker').datetimepicker({
			formatTime : 'H:i',
			formatDate : 'd.m.Y',
			//defaultDate:'8.12.1986', // it's my birthday
			defaultDate : '+03.01.1970', // it's my birthday
			defaultTime : '10:00',
			timepickerScrollbar : false
		});

		$('#datetimepicker10').datetimepicker({
			step : 5,
			inline : true
		});
		// 여기
		$('#datetimepicker_mask').datetimepicker({
			mask : '9999/19/39 29:59'
		});
		$('#datetimepicker_mask02').datetimepicker({
			mask : '9999/19/39 29:59'
		});

		$('#datetimepicker1').datetimepicker({
			datepicker : false,
			format : 'H:i',
			step : 5
		});
		$('#datetimepicker2').datetimepicker({
			yearOffset : 222,
			lang : 'ch',
			timepicker : false,
			format : 'd/m/Y',
			formatDate : 'Y/m/d',
			minDate : '-1970/01/02', // yesterday is minimum date
			maxDate : '+1970/01/02' // and tommorow is maximum date calendar
		});
		$('#datetimepicker3').datetimepicker({
			inline : true
		});
		$('#datetimepicker4').datetimepicker();
		$('#open').click(function() {
			$('#datetimepicker4').datetimepicker('show');
		});
		$('#close').click(function() {
			$('#datetimepicker4').datetimepicker('hide');
		});
		$('#reset').click(function() {
			$('#datetimepicker4').datetimepicker('reset');
		});
		$('#datetimepicker5').datetimepicker(
				{
					datepicker : false,
					allowTimes : [ '12:00', '13:00', '15:00', '17:00', '17:05',
							'17:20', '19:00', '20:00' ],
					step : 5
				});
		$('#datetimepicker6').datetimepicker();
		$('#destroy').click(function() {
			if ($('#datetimepicker6').data('xdsoft_datetimepicker')) {
				$('#datetimepicker6').datetimepicker('destroy');
				this.value = 'create';
			} else {
				$('#datetimepicker6').datetimepicker();
				this.value = 'destroy';
			}
		});
		var logic = function(currentDateTime) {
			if (currentDateTime && currentDateTime.getDay() == 6) {
				this.setOptions({
					minTime : '11:00'
				});
			} else
				this.setOptions({
					minTime : '8:00'
				});
		};
		$('#datetimepicker7').datetimepicker({
			onChangeDateTime : logic,
			onShow : logic
		});
		$('#datetimepicker8').datetimepicker({
			onGenerate : function(ct) {
				$(this).find('.xdsoft_date').toggleClass('xdsoft_disabled');
			},
			minDate : '-1970/01/2',
			maxDate : '+1970/01/2',
			timepicker : false
		});
		$('#datetimepicker9').datetimepicker(
				{
					onGenerate : function(ct) {
						$(this).find('.xdsoft_date.xdsoft_weekend').addClass(
								'xdsoft_disabled');
					},
					weekends : [ '01.01.2014', '02.01.2014', '03.01.2014',
							'04.01.2014', '05.01.2014', '06.01.2014' ],
					timepicker : false
				});
		var dateToDisable = new Date();
		dateToDisable.setDate(dateToDisable.getDate() + 2);
		$('#datetimepicker11').datetimepicker(
				{
					beforeShowDay : function(date) {
						if (date.getMonth() == dateToDisable.getMonth()
								&& date.getDate() == dateToDisable.getDate()) {
							return [ false, "" ]
						}

						return [ true, "" ];
					}
				});
		$('#datetimepicker12').datetimepicker(
				{
					beforeShowDay : function(date) {
						if (date.getMonth() == dateToDisable.getMonth()
								&& date.getDate() == dateToDisable.getDate()) {
							return [ true, "custom-date-style" ];
						}

						return [ true, "" ];
					}
				});
		$('#datetimepicker_dark').datetimepicker({
			theme : 'dark'
		})
	</script>
</body>