	@font-face { 
	font-family: 'MalgunGothic'; 
	font-style: normal; 
	/*font-weight: 100; */
	src: url(font/malgun.ttf) format('ttf'), 
	url(font/malgun.woff) format('woff'), 
	url(font/malgun.eot) format('opentype'); 
}
*{padding: 0;
  margin: 0;
  font-family:'MalgunGothic';
}
a{text-decoration: none;}
.blind{
		position:absolute;
		top:0;
		left:0;
		width:0;
		height:0;
		font-size:0;
		line-height:0;
		text-indent:-9999px;
		overflow:hidden;
		visibility:hodden
}
ul{list-style:none}
.btn_wrap a{display: block;
	color:#fff;

}
.do_wrap{width:1280px;
	overflow: hidden;

}
.login_wrap{width:648px;
		   margin: 240px auto 0;
}
.login_box{width:100%;
			border-top:3px solid #ff7900;
			border-left: 1px solid #a2a1a7;
			border-right: 1px solid #a2a1a7;
			border-bottom: 1px solid #a2a1a7;
			overflow: hidden;
}
.login_box p{font-size:24px;
			 text-align: center;
			 margin:73px auto 32px;
			 color:#23232f;
}
.input_wrap{width:396px;
			margin:0 auto 70px;
			overflow: hidden;
}
.login_input{width:188px;
			border:1px solid #d8d7dd;
			margin: 0 12px 12px 0;
			line-height: 1.5;
			font-size: 17px;
			padding: 10px;
}
.input_area{width:220px;}

.btn_wrap{width:175px;}
.input_area, .btn_wrap{float: left;}
.login_btn{background: #ff7900;
		   border:none;
		   width:100%;
		   height: 105px;
		   font-size: 26px;
		   color: #fff;
}

/*management.html*/
.do_top{width:100%;
		height: 40px;
		color:#fff;
		font-size: 14px;
		background: #282a36;
		float: left;
}

.do_top img{vertical-align: middle;}
.top_text{float: left;
	      margin: 9px 349px 0 0;
}
.top_text span{color:#b8d6ed;
				font-size: 16px;
				margin: 0 17px;
				font-weight: 700;
				display: block;
				float: left;
}
.video_con1{
	width:1000px;
	height:500px;
}
.video_con1 > div{
	width:33%;
	float:left
}
.video_con1 > div:after{
	content:'';
	display:block;
	clear:both
}
.video_con1 > div:last-of-type{
	width:1000px;
	float:none
}
.time {
    float: left;
    margin-left: 100px;
}
.login{float: left;
	   margin-right: 20px;
}
.logout {
    float: right;
    padding: 0 15px 0 11px;
    background: #3366cc;
}
.do_content{width:100%;
}
.do_nav{width:202px;
		float: left;
		/*height: 1030px;*/	
		height: 981px;	
		border-right: 1px solid #a2a1a7;
		box-sizing: border-box;
}
#h1139{height: 1139px;}
.do_content .right_box{width:1078px;
			float: left;
}
.do_content .manage_box{padding: 40px 40px 0;
						/*height: 919px;*/
						height: 870px;

}
#h1028{height: 1028px;}
.do_content .manage_box h2{font-size: 24px;
			   color: #23232f;
			   font-weight: 400;
			   margin-bottom: 18px;
}
.do_content .manage_box_inner{border-top:1px solid #23232f;
							  border-bottom: 1px solid #bbbbbb;
							  /*padding: 18px 0 0;*/
}
.do_content .col_1{width:100%;
				  /*padding: 12px 21px;*/ 
				  border-bottom: 1px solid #d8d7dd;
				  overflow: hidden;
}
.do_content .col_1:last-child{border:none;}
.left{border-right: 1px solid #c4c4c4;
	  color: #23232f;
	  font-size: 13px;
	  width:108px;
	  padding: 20px 19px;
	  background: #f0f0f0;
	  font-weight: 700;
	  text-align: left;
	  float: left;
}
.do_content #sub_area2{
	height:150px;
	background-color:#f1f1f1;
	border-top:1px solid #c3c3c3;
	border-bottom:1px solid #c3c3c3
}
#sub_area2 > form{
	margin-top:20xp;
	padding-bottom:70px
}

#sub_area2 > form > p{
	padding:20px 0 10px 30px;
	font-weight:bold;
	font-size:14px
}
#sub_area2 > form fieldset{
	padding-left:30px;
	border:0
}
#sub_area2 > form  textarea{
	max-width:800px;
	min-width:800px;
	max-height:80px;
	min-height:80px
}
#sub_area2 > form input{
	width:80px;
	height:80px;
	background-color:#282a36;
	color:#fff;
	float:right;
	border:1px solid #282a36;
	margin:0 35px;
	border-radius:5px;
	font-size:18px
}
#sub_area{
	width:998px
}
#sub_area .comment{
	width:998px;
	height:100px;
	border-bottom:1px solid #d6d6d6;
	margin:0 auto
}
#sub_area .comment dl{
	float:left;
	width:750px;
	padding:24px
}
#sub_area .comment dt{
	padding:5px 0;
	color:#d6d6d6
}
#sub_area .comment dt span{
	padding:0 10px;
	color:#000
}
#sub_area .comment dd{
	padding:5px 0 0 10px;
	font-size:12px
}
#sub_area .comment ul{
	float:right;
	margin:50px 20px 20px 0;
	padding:7px 5px 7px 7px
}
#sub_area .comment ul li{
	float:left;
	margin:0 2px;
	font-size:14px
}
#sub_area .comment ul li a{
	text-decoration:none;
	color:#333
}
.hf{padding: 39px 19px;}	
.right{float: left;
	   padding: 12px 20px;
	   font-size: 13px;

}
.right a{color: #23232f;}
table{border:none;}
.vm{padding: 17px 20px;}
.w308{width:298px;
	 line-height: 1.15;
	 font-size: 13px;
	 padding: 6px 5px;
}
.s308{width:312px;
	 line-height: 1.15;
	 font-size: 13px;
	 padding: 5px;
	 }
.f20{width:298px;
	 line-height: 1.15;
	 font-size: 13px;
	 padding: 20px;
}
.p12{width:298px;
	 line-height: 1.15;
	 font-size: 13px;}	 
.r_btn{vertical-align: middle;
	   margin: 0 37px 10px;
}
.r_btn:nth-child(1){margin: 0 10px 0 0;}
.f_right{text-align:right;padding-bottom:30px}
button{border:none;
	   font-weight: 700;
	   background: none;
	   outline: none;
}
.b_o{background: #ff7900;
	 padding: 13px 0;
	 text-align: center;
	 width:84px;
	 margin-top: 17px;
	 color: #fff;
	 display: block;
}
.b_g{background: #6e6e7a;
	padding: 13px 0;
	text-align: center;
	width:84px;
	margin-top: 17px;
	color: #fff;
	display: block;
}
.do_content .footer{background: #fafafa;
	    color:#868989;
	    font-size: 13px;
}
.do_content .footer img{
			float: left;
			margin:17px 10px 0 40px
}
.do_content .footer p{
	      padding: 27px 0;
}
.btn_password{padding: 5px 10px;
		border: 1px solid #a2a1a7;
		float: right;
}
.m_b{margin-bottom: 17px;}
.m_none{margin: 0;}

/*상담내역 */
input{color:#23232f;}
.search{background: #f0f0f0;
	    padding: 8px 20px;
	    width:958px;
	    margin-bottom: 15px;
}
.w120{width:120px;
	  background: url(../images/month.png)no-repeat 110px 3px #fff;
	  line-height: 1.15;
      font-size: 13px;
      padding: 6px 5px;
      border: 1px solid #d8d7dd;
}
.m20{margin:0 20px;
}
.s110{width:110px;
	 line-height: 1.15;
	 font-size: 13px;
	 padding: 3.5px;
	 }
.manage_box img{vertical-align: middle;}
.m10{margin: 0 7px;
}
.w398{width:348px;
	 line-height: 1.15;
	 font-size: 13px;
	 padding: 6px 5px;
}
.w100{width:98%;
	 line-height: 1.15;
	 font-size: 13px;
	 padding: 6px 5px;
}
.w90{width: 86.3%;
	line-height: 1.15;
	 font-size: 13px;
	 padding: 6px 5px;
	 margin-right: 15px;
	 float: left;
}
.f_left{float: left;}
/*업로드*/
.file {
    margin: 60px 0;
    overflow: hidden;
}
.title {
    font-size: 23px;
    color: #23232f;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label  {
    max-width: 80%;
    font-size: 13px;
    font-weight: 200;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 5px 10px;
    color:#000;
    text-align: center;
    line-height: 2;
}
.inputfile-1 + label {
	width: 80px;
    height: 28px;
	border: 1px solid #a2a1a7;
    background-color: none;
    padding: 0;
}
.up_content{margin: 10px;}
.up_span{border-bottom: 1px solid #727277;
	display: block;
	float: left;
	margin-right: 15px;
}
.col_1 .p20{padding: 20px;}
/*업로드 end*/
.p20{padding: 20px;}
.h450{height: 450px;}
.b_consult{background: #fff;
	padding: 13px 16px;
	text-align: center;
	border: 1px solid #d8d7dd;
	color:#23232f;
	}
table{font-size: 13px;
	 border-top: 1px solid #23232f;
	 width:100%;
	 color: #23232f;
}
th, td{padding: 20px 5px;
	border-right: 1px solid #dedee1;
	border-bottom: 1px solid #dedee1;
	text-align: center;
}
th{background: #f0f0f0;}
th:last-child, td:last-child{border-right:none;}
tr:last-child{border-bottom:none;}
.set_table{border:none;
	margin-bottom: none;
}
.left_table{border-right: 1px solid #c4c4c4;
	  color: #23232f;
	  font-size: 13px;
	  width:108px;
	  padding: 20px 19px;
	  background: #f0f0f0;
	  font-weight: 700;
	  text-align: left;
	  /*border-bottom: none;*/
	}
	
.right_table{border-bottom: none;
	 padding: 12px 20px;
}
.b_none{border:none;}
.right_bottom{/*border-bottom: 1px solid #dedee1;*/
	padding: 0 20px;
    text-align: left;
    width: 848px;
}	  
.row02{/*width:182px;*/
		width:210px;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    word-wrap: normal !important;
	    display: block;
	    padding: 5px;
}
.w210{width:210px;}
.number{text-align: center;
	    overflow: hidden;
	    margin-top: 30px;
}
.num{padding: 8px 0;
	 border:1px solid #d8d7dd;
	 font-size: 13px;
	 width:30px;
	 display: inline-block;
	 margin-right: 7px;
	 margin-bottom: 55px;
	 text-align: center;
}
.num_active{background: #6e6e7a;	      
}
.num_arrow{padding: 4px 0 7px;
		   border:1px solid #d8d7dd;
	       width:30px;
	       display: inline-block;
	       margin: 0 7px 55px 0;
}
.skin-square label{margin: 0 37px 16px 0;}
.check_box{
	/*width: 360px;*/
	text-align: left;
}
.align_center{text-align: center;}

/*recruitment_signUp*/
.edit{width:100%;
	height: 400px;
}
.grey{border:1px solid #a2a1a7;
	padding: 7px 15px;
	margin-top: 10px;
}
.right_box .h1000{height: 960px;}
.do_content .h1071{height: 1071px;}