@charset "utf-8";
/* reset.css */

html,body{width:100%;height:100%;}

html,body,div,span,object,iframe,pre,abbr,cite,code,del,dfn,em,img,ins,kbd,q,samp,strong,sub,sup,var,
body,div,dl,dt,dd,ul,li,ol,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,table,

small,b,i,article,aside,canvas,details,figcaption,figure,footer,header,menu,nav,section,time,mark,audio,video{margin:0;padding:0;}

article,aside,details,figcaption,figure,footer,header,menu,nav,section,video{display:block;}

table{border-collapse:collapse;}
img,fieldset{border:none;}
address,caption,cite,code,em,strong,th{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
q:after,q:before{content:"";}
abbr,acronym{border:none;}
img,li,input{vertical-align:middle;}
hr{display:none;}
#skipNavi,.blind{position:absolute;left:0;top:0;width:0;height:0;font-size:0;line-height:0;text-indent:-9999px;overflow:hidden;visibility:hidden;}

li img, dd img{vertical-align:top;}
img{max-width:100%;}
/* width값이 %로 된 이미지들이 브라우저 폭이 줄 경우 비례를 맞추어 줄도록 하기 위해 사용 ipad 사이즈에서*/