@font-face { 
	font-family: 'MalgunGothic'; 
	font-style: normal; 
	/*font-weight: 100; */
	src: url(font/malgun.ttf) format('ttf'), 
	url(font/malgun.woff) format('woff'), 
	url(font/malgun.eot) format('opentype'); 
}
*{padding: 0;
  margin: 0;
  font-family:'MalgunGothic';
}
a{text-decoration: none;}
.btn_wrap a{display: block;
	color:#fff;
	font-weight:normal

}
.do_wrap{width:1280px;
	margin:0 auto
}

.login_wrap{width:648px;
		   margin: 240px auto 0;
}
.login_wrap > p{
	width:648px;
	text-align:center;
	padding:30px 0;
	line-height:1.5;
	font-size:14px
}
.login_wrap > p span{
	color:#3366cc
}
.login_box{width:100%;
			border-top:3px solid #282a36;
			border-left: 1px solid #a2a1a7;
			border-right: 1px solid #a2a1a7;
			border-bottom: 1px solid #a2a1a7;
			overflow: hidden;
}
.login_box p{font-size:24px;
			 text-align: center;
			 margin:73px auto 32px;
			 color:#23232f;
}
.input_wrap{width:396px;
			margin:0 auto 70px;
			overflow: hidden;
}
.login_input{width:188px;
			border:1px solid #d8d7dd;
			margin: 0 12px 12px 0;
			line-height: 1.5;
			font-size: 17px;
			padding: 10px;
}
.input_area{width:220px;}

.btn_wrap{width:175px;}
.input_area, .btn_wrap{float: left;}
.login_btn{background: #282a36;
		   border:none;
		   width:100%;
		   height: 105px;
		   font-size: 26px;
		   color: #fff;
}

/*management.html*/
.do_top{width:100%;
		height: 40px;
		color:#fff;
		font-size: 14px;
		background: #ff7900;
		float: left;
}
.do_top img{vertical-align: middle;}
.top_text{float: left;
	      margin: 9px 349px 0 0;
}
.top_text span{color:#ffe933;
				font-size: 16px;
				margin: 0 17px;
				font-weight: 700;
				display: block;
				float: left;
}
.time{float: left;
	  margin-right: 15px;
}
.login{float: left;
	   margin-right: 18px;
}
.logout{float: left;
		padding: 0 15px 0 11px;
		background: #ff6000;
}
.do_content{width:100%;
}
.do_nav{width:202px;
		float: left;
		/*height: 1030px;*/	
		height: 981px;	
		border-right: 1px solid #a2a1a7;
		box-sizing: border-box;
}
.do_nav h1{font-size: 20px;
    margin: 36px 20px 20px;
}
#h1139{height: 1166px;}
.h1011{height: 1011px;}
.do_content .right_box{width:1078px;
			float: left;
			overflow: hidden;
}
.do_content .manage_box{padding: 40px 40px 0;
						/*height: 919px;*/
						/*height: 840px;*/
						overflow: hidden;
}
#h1028{height: 1028px;}
.do_content .manage_box h2{font-size: 24px;
			   color: #23232f;
			   font-weight: 400;
			   margin-bottom: 18px;
}
.do_content .manage_box_inner{border-top:1px solid #23232f;
							  border-bottom: 1px solid #bbbbbb;
							  /*padding: 18px 0 0;*/
}
.do_content .col_1{width:100%;
				  /*padding: 12px 21px;*/ 
				  border-bottom: 1px solid #d8d7dd;
				  overflow: hidden;
}
.do_content .col_1:last-child{border:none;}
.left{border-right: 1px solid #c4c4c4;
	  color: #23232f;
	  font-size: 13px;
	  width:108px;
	  padding: 20px;
	  background: #f0f0f0;
	  font-weight: 700;
	  text-align: left;
	  float: left;
}
.hf{padding: 39px 19px;}	
.right{float: left;
	   padding: 12px 20px;
	   font-size: 13px;

}
.right a{color: #23232f;}
table{border:none;}
.vm{padding: 17px 20px;}
.w308{width:288px;
}
.s308{width:309px;
	 }
.f20{width:298px;
	 line-height: 1.15;
	 font-size: 13px;
	 padding: 20px;
}
.p12{width:298px;
	 line-height: 1.15;
	 font-size: 13px;}	 
.r_btn{vertical-align: middle;
	   margin: 0 37px 10px;
}
.r_btn:nth-child(1){margin: 0 10px 0 0;}
.f_right{float: right;}
button{border:none;
	   font-weight: 700;
	   background: none;
	   outline: none;
	   cursor:pointer;
}
.b_o{background: #ff7900;
	 padding: 9px 0;
	 text-align: center;
	 width:80px;
	 margin-top: 17px;
	 color: #fff;
	 display: block;
}
.b_g{background: #6e6e7a;
	padding: 9px 0;
	text-align: center;
	width:80px;
	margin-top: 17px;
	color: #fff;
	display: block;
}
.do_content .footer{background: #fafafa;
	    color:#868989;
	    font-size: 13px;
	    margin-top:30px;
}
.do_content .footer img{vertical-align: middle;
			display: block;
			float: left;
			margin-left: 40px;
}
.do_content .footer p{text-align: center;
	      padding: 27px 0;
}
.btn_password{padding: 5px 10px;
		border: 1px solid #a2a1a7;
		float: right;
}
.m_b{margin-bottom: 17px;}
.m_none{margin: 0;}

/*상담내역 */
input{color:#23232f;
	border:1px solid #d8d7dd;
	padding: 5px 10px;
	line-height: 1.4;
	font-size: 13px;
}
input:hover{background: #fff6ed;
	border:1px solid #6e6e7a;
}
input:focus {
  outline: none;
  background: #fff6ed;
  border:1px solid #6e6e7a;
}
select{padding: 5px 13px;}
.search select{padding: 4.5px 13px;} 
select:focus {
	outline: none;
}
.search{background: #f0f0f0;
	    padding: 8px 20px;
	    width:958px;
	    margin-bottom: 15px;
	    font-size: 13px;
}
.w120{width:120px;
	  background: url(../images/month.png)no-repeat 115px 4px #fff;
	  
}
.w120:hover{background: url(../images/month.png)no-repeat 115px 4px #fff6ed;}
.m20{margin:0 20px;
}
.m15{margin-right: 15px;}
.s110{width:110px;
	 line-height: 1.15;
	 font-size: 13px;
	 padding: 3.5px;
	 }
.manage_box img{vertical-align: middle;}
.m10{margin: 0 7px;
}
.w398{width: 318px;

}
.ww100{width:100%;}
.w100{width:97%;	 }
.w90{width: 85%;	 
	 margin-right: 15px;
	 float: left;
}
.w60{width:60%;
	float: left;
	margin-right: 15px;
}
.f_left{float: left;}
/*업로드*/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label  {
    max-width: 80%;
    font-size: 13px;
    font-weight: 200;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 5px 10px;
    color:#000;
    text-align: center;
    line-height: 2;
}
.inputfile-1 + label {
	width: 80px;
    height: 28px;
	border: 1px solid #a2a1a7;
    background-color: none;
    padding: 0;
}
.up_content{margin: 10px;
	float: left;
}
.up_span{border-bottom: 1px solid #727277;
	display: block;
	float: left;
	margin-right: 15px;
}
.col_1 .p20{padding: 20px;}
/*업로드 end*/
.p20{padding: 20px;}
.h450{height: 450px;}
.b_consult{background: #fff;
	padding: 5px 13px;
	text-align: center;
	border: 1px solid #d8d7dd;
	color:#23232f;
	/*vertical-align: -1px;*/
	}
table{font-size: 13px;
	 border-top: 1px solid #23232f;
	 border-bottom: 1px solid #bbbbbb;
	 width:100%;
	 color: #23232f;
}
tr:hover{background: #fff6ed;}
.manage_box_inner tr:hover{background: transparent;}
th, td{padding: 18px 5px;
	border-right: 1px solid #dedee1;
	border-bottom: 1px solid #dedee1;
	text-align: center;
}
th{background: #f0f0f0;}
th:last-child, td:last-child{border-right:none;}
tr:last-child{border-bottom:none;}
.set_table{border:none;
	margin-bottom: none;
}
.left_table{border-right: 1px solid #c4c4c4;
	  color: #23232f;
	  font-size: 13px;
	  width:108px;
	  padding: 20px;
	  background: #f0f0f0;
	  font-weight: 700;
	  text-align: left;
	  /*border-bottom: none;*/
	}
	
.right_table{/*border-bottom: none;*/
	 padding: 12px 20px;
}
.b_none{border:none;}
.right_bottom{/*border-bottom: 1px solid #dedee1;*/
	padding: 12px 20px;
    text-align: left;
    width: 848px;
}	  
.row02{/*width:182px;*/
		width:210px;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    word-wrap: normal !important;
	    display: block;
	    padding: 5px;
}
.row03{
		width:110px;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    word-wrap: normal !important;
	    display: block;
	    padding: 5px;
	    float: left;
}
.w210{width:210px;}
.number{text-align: center;
	    overflow: hidden;
	    margin-top: 17px;
}
.num{padding: 8px 0;
	 border:1px solid #d8d7dd;
	 font-size: 13px;
	 width:30px;
	 display: inline-block;
	 text-align: center;
	 margin: 0 3px 55px;
}
.num_active{background: #6e6e7a;	      
}
.num_arrow{padding: 4px 3px 7px;
		   border:1px solid #d8d7dd;
	       width:30px;
	       display: inline-block;
	       margin: 0 3px 55px;
}
.skin-square label{margin: 0 35px 16px 0;}
.check_box{
	/*width: 360px;*/
	text-align: left;
}
.align_center{text-align: center;}

/*recruitment_signUp*/
.edit{width:100%;
	height: 400px;
	clear: both;
}
.edit_box .edit{width:100%;
	height: 200px;
	clear: both;}
.grey{border:1px solid #a2a1a7;
	padding: 7px 15px;
	margin-top: 10px;
}
.right_box .h1000{height: 960px;}
.do_content .h1071{height: 1101px;}

/*main*/
.main{width:999px;
	margin: 0 auto 20px;
	border:1px solid #6e6e7a;
	overflow: hidden;

}
.main tr:hover{background: none;}
.main tr:nth-child(even){border-bottom: 1px solid #efefef;}
.main td{border:none;}
.main_left{width:124px;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-weight: 700;
	border-right: 1px solid #efefef;
	background: #fafafa;
	box-sizing: border-box;
	padding: 138px 0;
	font-size: 13px;
}
.main .B{padding: 96px 0;}
.main_right{width:875px;
	float: left;

}
.w53{width:32px;
	margin-top: 14px;
}
.main_box{border-bottom: 1px solid #efefef;
	overflow: hidden;
}
.main_box_left{float: left;
	text-align: center;
	padding: 35px 30px;
}
.main_box_main{float: left;
	padding: 27px 0;
	width:663px;
}
.main_inner{overflow: hidden;}
.w524{width:497px;
	margin-bottom: 12px;
	float: left;
	margin-right: 5px;
}
.w611{width:584px;
	float: left;
}
.w37{width:40px;
	margin: 5px 17px 0 0;
	display: block;
	float: left;
	font-size: 13px;
}
.main_box_right{padding: 40px 33px 0 48px; 
	float: left;
}
.radio_wrap{padding: 20px 0 0;
	font-size: 13px;
}
.right_box .h_auto{height: auto;}
.h_2045{height: 2045px;}
.h_1350{ height: 1350px;}
.popup_list_btn{padding: 5px 10px;
	border: 1px solid #a2a1a7;
}
.bg_fa{background: #fafafa;}
.right_t{width:380px;
	text-align: left;
	padding: 0 20px;
}
.w80{width:80px;
}
.manage_box_inner .m10{margin:0 10px;}
.h1050{height: 1050px;}
.do_content .h910{height: 910px;}


/*index*/
header{position: relative;	
}
.w960_h{width:960px;
	margin:0 auto;
	overflow: hidden;
}
.f_right li{
	font-size: 12px;
	font-weight: 100;

	float: left;
	list-style: none;
	color: #6f6a67;
	margin: 15px 0 15px 20px;
}
.head_hr{width: 100%;
	height: 1px;
	background: #f0f0f0;
}
.menu{width:960px;
	margin:0 auto;
	padding: 28px 25px;
	height: auto;
	position: relative;
	height: 56px;
}
h1{width:197px;
	float: left;
}
nav{float: left;
	margin: 0 118px 0 44px;
	position: relative;

}
nav > ul{position: relative;}
nav ul li{
	font-size: 15px;
	font-weight: 700;
	float: left;
	list-style: none;
	color: #282832;
	margin:11px 15px;
	display: block;
	position: relative;
	/*margin-bottom: 100px;*/
	}
nav ul li a{color: #282832;
	display: block;
	padding-bottom: 10px;
	}

nav ul li:hover .nav-submenu{display: block;}
.nav-submenu{display: none;
	width:142px;
	background: #fff;
	padding:32px; 
	position:absolute;
	z-index: 1000;
	text-align: left;
	border:1px solid #282831;
	top:42px;
	left:-70px;
	background: url(images/arrow_menu.png)center -10px #fff;
}
.nav-submenu li a:hover{color: #ffcd00;	
}
nav > ul > li:hover{border-bottom: 2px solid #ffcd00;}
.arrow_menu{margin-top: -43px;
	position: absolute;
	left:90px;
}

.nav-submenu li{float: none;}
.logo_img{float: left;
	width:78px;
}
.swiper-slide img{width:100%;
}
.index_main_box{width:950px;
	margin:0 auto 51px;
	overflow: hidden;
}
.index_main_inner{width:230px;
	margin-right: 10px;
	float: left;
}
.index_main_inner img{margin:60px auto 30px;
	display: block;
}
.index_main_inner:last-child{margin-right: 0;}
.index_main_inner span{display: block;
	background: #ffcd00;
	padding: 17px;
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	line-height: 1.2;
}
.support h2{color: #282832;
	font-size: 24px;
	text-align: center;
	margin:52px auto 57px;
}
.hr_index{    
	box-shadow: 0 -3px 5px #eee;
    width: 100%;
    height: 5px;
}
.support{width:923px;
	margin:0 auto;
	overflow: hidden;
}
.support_inner{float: left;
	margin-right: 45px;
	margin-bottom: 59px;
}
.support_inner:last-child{margin-right: 0;}
.support_text{float: right;
	padding: 20px 10px;
	color: #808080;
	font-size: 15px;
	width:116px;
}
.support_inner .p10{padding: 10px;}
h3{background: #f7f7f4;
	margin-bottom: 42px;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	padding: 18px 0;
}
h3 img{padding:0 10px; }
.phone{width:561px;
	margin:0 auto 40px;
	overflow: hidden;
}

.phone_inner{float: left;}
.phone_text{font-size: 15px;
	font-weight: 400;
	color: #f47a20;
	float: right;
	padding:8px 10px;
}
.link{color: #6f6a67;
	font-size: 11.5px;
	width:445px;
	margin:0 auto;
	text-align: center;    
	clear: both;
}
.link a{color:#6f6a67}
footer{margin-top:58px;
	border-top: 1px solid #f2f1ed;
}
.footer_main{width:960px;
	margin:0 auto 25px;
}
.adress{text-align: center;
	font-size: 12px;
	color: #6f6a67;
	float: right;
	padding: 24px 110px;
	line-height: 1.9;
}
.footer_select{float: right;
	margin-top: 24px;
}
.black{color: #000;}

/*모바일 index*/
.m_menu{width:100%;
	height: 33px;
	margin:22px auto 20px;
}
.m_menu img{display: block;
	float: left;
}
.m_menu_icon{margin-left: 5%;
	width:33px;
}
.m_logo{width:133px;
	margin:0 20%;
}
.m_mark{width:46px;}
.more_inner{background: #282832;
	width:100%;
	margin-bottom: 10px;
}
.p_color{color: #fff;
	margin:22px 0 22px 18px; 
	display: inline-block;
	font-size: 20px;

}
.more_btn{padding: 15px 32px;
	background: #3e3e47;
	margin: 28px 18px 28px 0;
	float: right;
	color: #fff;
}
.more_inner .m36{margin: 36px 18px 36px 0;}
.w{color: #fff;}
.o{color: #f47a20;
}
.m_main{width:100%;
	margin-bottom: 35px;
	overflow: hidden;
}
.m_main_row{width:365px;
	margin:0 auto;
}
.m_hr{border-top: 1px solid #d0d0d0;
	background: #e8e8e8;
	height:8px;
	width:100%; 
}
.m_phone{width:328px;
	margin:0 auto;
}
.m_phone_inner{text-align: center;
	margin:27px 0 33px 0;
	float: left;
	width:164px;
	padding: 30px 5px;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
}
.m_phone_inner:last-child{border-left:0;}
.m_phone_inner p{font-size: 16px;
	font-weight: 700;
	color: #f47a20;
	margin-top: 10px;
}
.m_phone_inner img{width:79px;}

/*금융상품*/
.edit_box{
	border-top: 1px solid #d8d7dd;
	border-left: 1px solid #d8d7dd;
	border-right: 1px solid #d8d7dd;
	padding: 24px 21px;
	overflow: hidden;
}
.edit_box:last-child{border-bottom: 1px solid #d8d7dd;}
.edit_box h3{color: #ff7900;
	font-size: 21px;
	font-weight: 400;
	text-align: left;
	background: transparent;
	width:200px;
	float: left;
	padding: 0;
}
.f_left{float: left;}
.w82{width:82px;
	margin-right:7px; 
}
.w82:first-child{margin-right: 0;}

/*공지사항*/
.sub_title{width: 100%;
	background: #fafafa;
	text-align: center;
	height: 52px;
}
.sub_title_inner{
	width:960px;
	margin: 0 auto;
	background: url(../images/sub_back.png) no-repeat 0 8px;
}
.sub_title_inner h2{
	font-size: 17px;
    font-weight: 700;
    color: #ff7900;
    position: relative;
    padding: 13px 0;
}
.sub_title_inner span{
	color: #ff7900;
	position: absolute;
	left:39px;
	font-weight: 400;
}
.table_box{
	width:960px;
	margin:60px auto 40px;
	overflow: hidden;
}
.table_box table{width:100%;
	display: block;
}
.table_box table tr{}
.table_box table tr:hover{background: #f9f9f9;}
.table_box table td{
	padding: 20px 10px;
	border-bottom:1px solid #ededed;
}
.content_table{color: #23232f;}
.date{color: #a2a1a7;}
.number{text-align: center;
	    overflow: hidden;
	    margin-top: 30px;
}
.num_list{    
	padding: 10px 0 8px;
    border: 1px solid #d8d7dd;
    font-size: 16px;
    width: 39px;
    height: 24px;
	 border-radius: 50%;
	 display: inline-block;
	 text-align: center;
	 margin: 0 3px 55px;
	 vertical-align: top;
}
.num_list_active{background: #f0f0f0;	      
}
.num_list_arrow{/*padding: 4px 3px 7px;*/
	       width:42px;
	       height: 44px;
	       display: inline-block;
	       margin: 0 3px 55px;
	       vertical-align: top;
}
.num_list_arrow img{display: inline;}
.view{color: #6e6e7a;}
.table_box table th{text-align: left;
	padding: 20px 10px 0;
	border-bottom:1px solid #ededed;
}
.title{font-size: 23px;
	color: #23232f;
}
.title_line{background: #ff7900;
    /*border-bottom: 3px solid #ff7900;*/ 
	width:70px;
	height: 3px;
	margin-top:17px ;
	display: block;
}
.view_content{color: #23232f;}
.view_date{color: #a0a0a2;}
.file{margin:60px 0;
	  overflow: hidden;
}
.up_span_front {   
    display: block;
    float: left;
    margin-right: 15px;
}
.up_span_border{border-bottom: 1px solid #727277;}
.pre{background: url(../images/arrow_top.png)no-repeat 70px 28px;
	height:13px; 
}
.next{background: url(../images/arrow_bottom.png)no-repeat 70px 28px;
	height:13px; 
}
.notice_btn{padding: 17px 83px;
	float: left;
	color: #fff;
	font-size: 16px;
	margin:0 8px 0 0;
}
.notice_btn:last-child{margin: 0;}
.b{background: #23232f;}
.off7900{background: #ff7900;}
.margin_center{margin:32px auto 40px;
	width:404px;
	height: 55px;
	overflow: hidden;
}
.search_box{text-align: center;
	margin-bottom: 60px;
}
.search_box input{
	color:#23232f;
	border:1px solid #d8d7dd;
	padding: 16px;
	line-height: 1.4;
	font-size: 15px;
	box-sizing: border-box;
	width:413px;
}
.search_box button{background: #ff7900;
	color: #fff;
	padding: 18px 23px;

}
.c_o{color: #ff7900;}


@media screen and (max-width: 414px) {
.index_main_inner{width:177px;}
.support {width: 360px;}
.support_inner{margin-right: 0;}
.support_text {
    padding: 20px 0 20px 3px;
}
.link{width:330px;
	line-height: 2;
	font-size: 13px;
	clear: both;
}
.link a{color:#555;}
.support_inner .p10 {
    padding: 10px 0 10px 3px;
}
.footer_main {
    width: 90%;
    clear: both;
    }
.adress{float: right;
	padding: 25px 5px;
	text-align: left;
	width:50%;
}
.footer_main img{display: inline;}
@media screen and (max-width: 375px) {

.m_logo{margin:0 17%;}
.p_color{font-size: 17px;}
.more_btn{padding: 12px 28px;}
.adress{width:45%;}
}


@media screen and (max-width: 360px) {

.m_logo{margin:0 15%;}
.p_color{font-size: 17px;}
.m_main_row{width:360px;}
.index_main_inner{width:175px;}
.support {width: 339px;}
.support_inner img{width:50px;}
.footer_main {width: 95%;}
@media screen and (max-width: 320px) {

.m_logo{margin:0 12%;}
.p_color{font-size: 15px;}
.more_btn{padding: 8px 23px;}
.index_main_inner{width:155px;}
.support {
    width: 300px;
    }
.support_inner img {
    width: 30px;
} 
.support_text {
    padding: 5px 0 5px 3px;
}
.support_inner .p10 {
    padding: 0 0 0 3px;
}   
.link{width:310px;
	line-height: 2;
	font-size: 11px;
	clear: both;
}
.adress{width:40%;
	padding: 23px 5px
}
.m_phone {width: 320px;}
.m_phone_inner{width:160px;}
.m_phone_inner p {font-size: 14px;}
}
